[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.25.2"
phoenix6 = "==24.1.0"
robotpy = {version = "==2024.1.1.1", extras = ["apriltag", "cscore"]}
robotpy-ctre = "==2024.1.0"
robotpy-navx = "==2024.1.0"
robotpy-rev = "==2024.2.0"
robotpy-wpilib-utilities = "==2024.0.0"

[dev-packages]
hypothesis = "*"
pytest = ">=7.2.0"

[requires]
python_version = "3.11"

[scripts]
deploy = "python -m robotpy deploy"
sim = "python -m robotpy sim"
test = "python -m robotpy test"
