numpy~=1.24.1
robotpy[apriltag,cscore]~=2023.4.2
robotpy-ctre~=2023.1.0 #replace w/ phoenix5
robotpy-navx~=2024.0.b1
robotpy-rev~=2024.0.0b3
robotpy-photonvision~=2024.0.0b3
robotpy-wpilib-utilities~=2024.0.0b4 